#logo {
  margin-left: 22%;
  margin-top: 2%;
}

#cart-icon {
  margin-left: 100%;
  white-space: nowrap;
}

#cart-icon:hover {
  cursor: pointer;
  color: #3bc6d6;
}

#quantity-counter {
  font-family: "Inconsolata";
  font-size: 20px;
}

#list {
  margin-top: 4%;
  font-family: "Inconsolata";
  text-align: center;
}

.card-title {
  margin-top: 4%;
}

.card {
  border-style: none;
}

.col-xs-4 {
  margin-top: 3%;
}

.card-header {
  text-align: center;
  font-size: 150%;
  font-family: "Inconsolata";
  margin-top: 40%;
}

#list-price {
  font-size: 120%;
}

#list-image:hover {
  cursor: pointer;
}

.card.details {
  margin-top: 200%;
  margin-left: 60%;
}

.card-text {
  font-size: 130%;
  font-family: "Inconsolata";
}

.card-text.item-price {
  font-size: 110%;
  margin-top: 20%;
  margin-left: 45%;
}

.invisible {
  display: none;
}

#details-column {
 margin-top: 30%;
}

#larger-image {
  margin: auto;
}

#cart {
  font-family: "Inconsolata";
}

#cart-button {
  margin-left: 40%;
  font-weight: 700;
  font-family: "Inconsolata";
}

#cart-button:hover {
  cursor: pointer;
}

#bullet-points {
  font-family: "Inconsolata";
}

#cart-item-row {
  margin-top: 10%;
}

#item-added-picture {
  width: 55%;
}

#total-price {
  margin-left: 85%;
  margin-top: 20%;
}

#checkout-button {
  margin-left: 82%;
  font-family: "Inconsolata";
  font-weight: 700;
}

#go-back {
  font-family: "Inconsolata";
  text-align: center;
  margin-top: 25%;
}

#go-back:hover {
  color: #3bc6d6;
  cursor: pointer;
}
