#list {
  margin-top: 10%;
  font-family: Arial;
  font-weight: 100;
  text-align: center;
}

.card-title {
  margin-top: 4%;;
}

.card {
  border-style: none;
}

.col-xs-4 {
  margin-top: 3%;
}

.card-header {
  text-align: center;
  font-size: 200%;
  font-family: Arial;
  margin-top: 40%;
}

.card.details {
  margin-top: 200%;
  margin-left: 60%;
}

.card-text {
  font-size: 150%;
}

.btn.btn-primary {
  margin-top: 50%;
}
